#gallerywrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.cell{
    border: 4px solid;
    border-radius: 10px;
    transition: transform 150ms ease-in-out;
}

.cell:hover{
    transform: scale(1.05);
}

@media screen and (min-width: 800px) {
    #gallerywrapper{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .cell:nth-of-type(3){
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
    
    .cell:nth-last-of-type(6){
        grid-row-end: span 2;
    }
}

.galleryimage{
    margin: 0px;
    padding: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.filter{
    width: 100%;
    height: 101%;
    object-fit: cover;
    z-index: 9;
    padding: 0px;
    margin: 0px;
    opacity: 0.3;
    transform: translateY(-101%) ;
    border-radius: 10px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.filter:hover{
    opacity: 0;
}

body{
    text-align: center;
    background-color: azure;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 65%, rgba(179,179,179,1) 100%);
}

h1{
    text-align: center;
    background-image: linear-gradient(0deg,#ffa10c, #ff4360, #ff0e93, #6a00fc);
    background-size: 50%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}